<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Oder page</title>
</head>
<body>

<div align="center">
    <h1>Fill out</h1>
    <br/>
    <form th:action="@{/order}" method="post" th:object="${order}">
        <table border="0" cellpadding="10">
            <tr>
                <td>What you want to order:</td>
                <td>
                    <input type="text" th:field="*{name}"/>
                </td>
            </tr>
            <tr>
                <td>Enter color:</td>
                <td><input type="text"  th:field="*{color}"/></td>
            </tr>
            <tr>
                <td>Enter material:</td>
                <td><input type="text" th:field="*{material}"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Make an order</button>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>